<div class="o-grid-container n-light-signup__container">
	<div class="o-grid-row">
		<div data-o-grid-colspan="11 M8 center" class="n-light-signup__inner">

			{{#if success}}
			<p class="n-light-signup__heading">
				Thank you. You have been unsubscribed from FT's Today's top FT stories.
			</p>
			{{/if}}

			{{#if failure}}
			<p class="n-light-signup__heading">
				Sorry, we were unable to unsubscribe you. Please try again.
			</p>
			{{/if}}

			{{#if alreadyUnsubscribed}}
			<p class="n-light-signup__heading">
				You have previously unsubscribed from this email.
			</p>
			{{/if}}

			<p>We always welcome feedback from our readers. If you had any issues with our top stories email, please let us know by emailing <a href="mailto:next.feedback@ft.com">next.feedback@ft.com</a>.</p>
		</div>
	</div>
</div>
